<footer class="footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h5>Informacion</h5>
                <ul class="list-unstyled">
                    <li><a [routerLink]="'/terms'">Terminos y Condiciones</a></li>
                    <li><a [routerLink]="'/faq'">Preguntas Frecuentes</a></li>
                    <li><a [routerLink]="'/contact'">Contactanos</a></li>
                </ul>
            </div>
            <div class="ml-auto">
                <img src="../../../assets/img/logo.png" width="200" height="100">
            </div>
        </div>
    </div>
</footer>